<script setup lang="ts">
import { ref } from 'vue';
import axios from 'axios'
const valid = ref(false)
const celsius = ref(0)
const result = ref(0)
type ReturnData = {
  celsius: number
  fahrenheit: number
}

async function callConvert() {
  // result.value = convert(celsius.value) 
  try {
  console.log(`http://localhost:3000/temperature/convert/${celsius.value}`)
  const res = await axios.get(`http://localhost:3000/temperature/convert/${celsius.value}`)
  const convertResult = res.data as ReturnData
    console.log(convertResult)
    result.value = convertResult.fahrenheit
  } catch(e) {
    console.log(e)
  }
}

function convert(celsius:number): number {
  return (celsius * 9.0) / 5 + 32
}
</script>
<template>
    <v-form v-model="valid">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="4"
          >
            <v-text-field
              v-model.number ="celsius"
              :rules="[(v) => !! v || 'Celsius is not emtry!!!', (v) => !isNaN(parseFloat(v))|| 'Celsius must be number']"
              label="Celsius"
              required
              hide-details
            ></v-text-field>
          </v-col>
  
          <v-col
            cols="12"
            md="4"
          >
            <v-btn @click = "callConvert">Calculate</v-btn>
          </v-col>
  
          <v-col
            cols="12"
            md="4"
          >
            <div>{{ result }}</div>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </template>